table {
	border-collapse: collapse;
	width: 100%;
}

.darkTable>thead>tr>th, td {
	text-align: left;
	padding: 8px;
}

.darkTable>thead>tr>th
{
	background-color: #37363D;
	color: lightgray;
}

body {
	font-family: 'Roboto', sans-serif;
	margin: auto;
	background: #2A292F;
	color: lightgray;
	position: relative;
	min-height: 100vh;
	padding-bottom: 10rem;
}

a {
    color: #269cd4;
}

.extraServerCell
{
	padding: 0;
}

.extraServerInside
{
	background-color: #2A292F;
	color: white;
	padding: 8px;
	height: auto;
	width: 100%;
}

#topBar {
	margin-top: 5px;
	height: 30px;
}

.clickable-row
{
	cursor: pointer;
	background: #2D2C33;
	border-bottom: 2px solid #2A292F;
	border-top: none;
}

/* .clickable-row:nth-child(4n+3) {
	background: #1E9293;
} */

#noServers
{
	background: transparent;
	border-top: none;
}

.playerList
{
	margin: 0;
}

.numPlayerPlayed
{
	color: #bfbfbf;
}

.clickable-row:hover
{
	background-color: #34333B;
}

.wrapper {
	padding: 10px 7px 0px 7px;
	margin: 0 auto;
	max-width: 1080px;
}

#connectStatus {
	color: red;
}

#region {
	margin-bottom: 4px;
	color: white;
	background: #2A292F;
	border: none;
}

#langNotice {
	display: none;
}


#extraInfo span {
	color: #757575;
}

#connectionOptions {
	float: left;
}

.extraNumber {
	margin-left: 4px;
}

#chartsLink {
	float: right;
}

#creatorPlayer {
	color: #4CAF50;
}

.tabs {
	height: 50px;
	width: 100%;
}

.container {
	padding: 0 !important;
	width: 100%;
}

.header {
	background: #37363D;
	margin: 0 auto;
	padding: 15px;
}

.nav-tabs {
	background: #37363D;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
	text-transform: uppercase;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	font-weight: bold;
	color: white;
	background-color: transparent !important;
	border: none;
	box-shadow: inset 0 -2px 0 #269cd4;
}

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
	border: none;
	background: transparent !important;
}

.nav > li > a:focus, .nav > li > a:hover {
	background: transparent !important;
}

.nav-tabs.nav-justified>li>a {
    margin-right: 0;
    border-radius: 0 !important;
	border: none;
}

.nav-tabs>li>a:hover {
	border: none;
}

.nav-tabs>li>a {
	color: white !important;
}

@media (hover: hover) {
	.nav-tabs.nav-justified>li>a:hover {
		background: rgba(255,255,255,0.1) !important;
	}
}

@media (max-width: 768px) {
	.nav-justified > li {
	  display: table-cell;
	  width: 1%;
	}
	.nav-justified > li > a  {
	  margin-bottom: 0 !important;
	}
  }

.stickyHeader {
	position: fixed;
	top: 0;
	width: 100%
}

.stickyHeader + .tab-content {
	padding-top: 40.8px;
  }

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1.5rem;
	padding-bottom: 2rem;
	text-align: center;
	background: #37363D;
}

footer > p {
	margin: 0;
}

/*Leaderboards*/
#leaderTable > tbody > tr {
	background: #2D2C33;
	border-bottom: 2px solid #2A292F;
}

#playerSearch {
	color: lightgray;
	margin-left: 3px;
	width: 85%;
	background: #2A292F;
	border: none;
	border-bottom: 1px solid lightgrey;
}

.ui-widget {
	width: 100%;
	max-width: 256px;
	margin: 0 8px 8px 5px;
}

#leaderTable .highlight {
    font-weight: bold;
    background-color: #4caf50;
	color: white;
}

#leaderNav>.pagination>li>a, #leaderNav>.pagination>li>span {
	color: lightgray;
	border: 1px solid #1f1f1f;
	background: #37363D;
}

#leaderNav>.pagination>.disabled>a, #leaderNav>.pagination>.disabled>a:focus, #leaderNav>.pagination>.disabled>a:hover, #leaderNav>.pagination>.disabled>span, #leaderNav>.pagination>.disabled>span:focus, #leaderNav>.pagination>.disabled>span:hover {
	background: #4b4952;
}

#leaderNav>.pagination>.active>a, #leaderNav>.pagination>.active>a:focus, #leaderNav>.pagination>.active>a:hover, #leaderNav>.pagination>.active>span, #leaderNav>.pagination>.active>span:focus, #leaderNav>.pagination>.active>span:hover {
	background: #269cd4;
	color: white;
}

input[type="search"]::-webkit-search-cancel-button {
	-webkit-appearance: searchfield-cancel-button;
}

.last-seen {
    color: #909090;
}

.highlight .last-seen {
	color: #d4d4d4;
	font-weight: normal;
}