.clear {
	clear: both;
}

#timeOffset {
	float: left;
	height: 30px;
	max-width: 144px;
	margin-right: 8px;
	margin-bottom: 8px;
	background: #37363d;
	border: none;
	color: lightgray;
}

#datepicker {
	float: left;
	z-index: 1000;
}

#datepicker-container {
	display: none;
	max-width: 400px;
	color: black;
}

#custom-button {
	background-color: #5cb85c;
	color: white;
	border-color: #4cae4c;
}

#chartContainer {
	position: relative;
	height: 60vh;
}

.highlight-day {
	color: white;
	background-color: #f0ad4e;
}

.highlight-day::before {
	border-bottom-color: white !important;
}