body {
	font-family: 'Roboto', sans-serif;
	max-width: 1280px;
	margin: auto;
}

#wrapper {
	margin: 10px;
}

#topBar {
}

.clear {
	clear: both;
}

#timeOffset {
	float: left;
	height: 30px;
	max-width: 144px;
	margin-right: 8px;
	margin-bottom: 8px;
}

#datepicker {
	float: left;
}

#datepicker-container {
	display: none;
	max-width: 400px;
}

#custom-button {
	background-color: #5cb85c;
	color: white;
	border-color: #4cae4c;
}

#lobbiesLink {
	float: right;
	font-size: 1.2em;
}

#chartContainer {
	position: relative;
	height: 60vh;
}